/* 汎用CSS */

.welcome{
  color:#d76e6e;
  font-family: メイリオ;
  font-size: 28px;
  margin-left: 20px;
  margin: 20px;
  text-align: center;
}

.top{
  margin-up: 50px;
  margin-bottom: 50px;
}

.texts{
  margin-bottom: 50px;
}

.emphasize{
  color:#d76e6e;
  font-family: メイリオ;
  font-size: 28px;
  margin: 15px;
  margin-left:20px;
}

.large{
  color:#d76e6e;
  font-family: メイリオ;
  font-size: 24px;
  margin: 15px;
}

.list{
  margin-left:30px;
}

.demphasize{
  color:#d76e6e;
  font-family: メイリオ;
  font-size: 28px;
  border-bottom: dashed 1px #ff8080;
  margin: 15px;
  margin-left:20px;
}

.section{
  color: #d76e6e;
  font-family: メイリオ;
  font-size: 21px;
  border-bottom: dashed 1px #ff8080;
  margin: 15px;
  margin-left:10px;
}

.subsection{
  color: #d76e6e;
  font-family: メイリオ;
  font-size: 18px;
  border-bottom: dashed 1px #ff8080;
  margin: 15px;
  margin-left:10px;
}

.subsubsection{
  color: #d76e6e;
  font-family: メイリオ;
  font-size: 16px;
  border-bottom: dashed 1px #ff8080;
  margin: 15px;
  margin-left:10px;
}

/* 説明文関係 */

.description{
  font-size: 14px;
  margin-left:20px;
  text-height: 1.5em;
}

.descriptionCenter{
  font-size: 14px;
  margin: 10px;
  margin-left:20px;
  text-align:center;
  text-height: 1.5em;
}

.questionBox{
  padding: 10px 20px;
  margin: 40px 40px;
  background: #ffbec0;
  border-top: solid 5px #bd1818;
  border-bottom: solid 5px #bd1818;
}

.questionBoxHint{
  padding: 10px 20px;
  margin: 40px 40px;
  background: #c0beff;
  color: #FFFFFF;
  border-top: dashed 5px #1818bd;
  border-bottom: dashed 5px #1818bd;
}

/* リスト関係 */

.listPadding{
  padding-left: 30px;
}

.square{
  list-style: square;
}

.disc{
  list-style: disc;
}

/* 画像関係 */

.imageLeft{
  text-align: left;
}

.imageRight{
  text-align: right;
}

.imageCenter{
  text-align: center;
}

.imageMarginUB{
  margin-up: 20px;
  margin-bottom: 20px;
}

footer{
  text-align:center;
  background-color: #f5c2c2;
}
