#title{
    font-family: メイリオ;
    color: #224488;
    background-color: #AABBAA;
    padding: 30px 0;
    padding-left: 15px;
    border-left: inset 10px #8de6df;
    border-right: outset 10px #81ccc5;
}

#catchcopy{
    padding-left:20px;
    color: #8899AA;
    border-bottom: dashed 1px #5d64d0;
}

header{
    background-image:url("./Image/gradation_2_row.png");
    background-repeat:repeat-x;
}

#pageHead .globalNavi{
    border:solid #41a3bb;
    border-width:1px 0;
    padding:10px 0;
}

#pageHead .globalNavi ul{
    margin: 0;
    padding: 0;
}

#pageHead .globalNavi ul li{
    list-style:none;
    width: 196px;
    display: inline-block;
    border-left: solid 1px #336699;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    line-height: 1.429;
}

#pageHead .globalNavi ul:after{
    content:"";
    clear:both;
    display:block;
}

#pageHead .globalNavi ul li:first-child{
    border-left: none;
}

#pageHead .globalNavi ul li a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 7px 0;
    width: 176px;
}

#pageHead .globalNavi ul li a:hover{
    background-color: #21839b;
}

#pageHead .globalNavi ul li.current a{
    background-color: #3193ab;
}
